<app-navbar></app-navbar>
<div class="container-fluid">
  <!-- #region Task Day 1 -->
  <!-- <div class="row">
    <div class="col-1">
      <app-aside></app-aside>
    </div>
    <div class="col-10">
      <div class="row">
        <app-slider></app-slider>
      </div>
      <div class="row">
        <app-project></app-project>
      </div>
    </div>
  </div> -->
  <!-- #endregion -->

  <!-- #region Task Day 2 -->

  <!-- <app-slider-ts></app-slider-ts>
  <app-student-reg></app-student-reg> -->

  <!-- #endregion -->

  <!-- #region Task Day 3-->

    <app-parent></app-parent>

  <!-- #endregion -->

</div>


<app-footer></app-footer>
